html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { 
    margin: 0;
    padding: 0;
}
/*---------------------Css Reset End---------------------*/



/*------------------Desktop CSS---------------------------*/

html {
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'Roboto Slab', serif;
    min-height: 100%;
    position: relative;
}
#hamburg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    background-color: #fbf195;
    background: url('../images/hamburger.png') no-repeat right;
    background-size: 60px 60px;
    padding-left: 60px;
    border-left: 2px #e78f08 solid;
    height: 68px;
    width: 70px;
    cursor: pointer;
}
#hamburg p {
    color: #808080;
    position: absolute;
    left: 10px;
    top: 20px;
}

#hamburg:active {
    background-color: #ddd;
}

#headerID {
   font-size: 1em;
   background-color: #fbf195;
   border-bottom: 2px #e78f08 solid;
   height: 68px;
   //text-align: center;
   margin: 0px 0px 20px 0px;
}

header {
}

#mainNav{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

#mainNav li{
    display: inline-block;
    padding: 0 10px;
}

#logo {
   position: relative;
   float: left;
    margin: 10px 0px 0px 45px;
}

header li {
    display: inline;
    margin: 0px 10px;
}

header li:nth-child(1){
    margin: 0px 0px 0px 30px;
}

p{
    line-height: 140%;
}

header ul{
    margin: 17px 0px 0px 30px;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
    color: #808080;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #7c7c7c;
}

a:hover {
    color: red;
}

.adminNav{
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
}
ul {
    line-height: 140%;
}

.adminNav li {
    display: inline-block;
    padding: 0 5px;
}
.adminNav li:last-child {
    
}

.adminNav li:first-child {
    border-left: 1px solid grey;
}



#adminLog{
    font-size: 1em;
    position: fixed;
    float:right;
    margin: 0px 20px 10px 0px;
    bottom: 0;
}

#headerlog {
    font-size: 1em;
    position: absolute;
    top: 0;
    float: right;
    right: 0;
    padding-top: 20px;
    padding-right: 5px;
}

#logreg {
    width: 200px;
}

#headerlog li {
    float: left;
    border-right: 1px dashed grey;
    padding: 5px;
    margin: 0;
}


.error {
    color: red;
}
.wrapper {
    min-height: 100%;
    width: 1100px;
    margin: 0px auto;
    padding-bottom: 100px;
}

.styledform input{
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    width: 200px;
    height:25px;
} 

.styledform input[type="submit"] {
 width:70px;
} 


table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
}

input[type="submit"] {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    background-color: #ddd;
    border: 1px solid rgba(0,0,0,0);
    padding: 5px;
    margin: 10px 0;
}

input[type="submit"]:hover{
    border: 1px solid black;
    cursor: pointer;
}

footer {
    background-color: #fbf195;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
}

footer ul {
    padding: 11px 0 0 0; 
}



/*----------------------------Desktop CSS end-----------------------------*/



/*------------------------------Mobile CSS-----------------------*/

@media only screen and (max-width: 1099px){
    .wrapper {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    #hamburg {
        display: inline-block;
    }
    #logo{
        margin: 0;
    }
    #logreg {
        width: 100%;
    }
    #headerlog {
        float: none;
        text-align: center;
        position: relative;
        top: 0;
        right: 0;
        margin: 0;
        
    }
    #mainNav {
        width: 100%;
        clear: both;
        margin-bottom: 20px;
        background: white;
    }
    #mainNav ul {
        margin: 0;
    }
    #mainNav li {
        display: list-item;
        margin: 0;
        padding: 0;
    } 
    #mainNav li:last-child {
        border-bottom: 1px grey solid;
    }
    #mainNav a {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        border-top: dashed 1px black;
    }
    #mainNav a:active {
        background: #eee;
    }
    
    nav {
        padding-top: 0px;
    }
}